@font-face {
    font-family: "Norse Bold";
    src: url("fonts/Norse-Bold.woff2") format("woff2"), 
         url("fonts/Norse-Bold.woff")  format("woff");
    font-style: normal;
    font-weight: normal;
}

:root {
    --leaf-green: #596D48;
    --light-gray: #E5E7EB;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Arial, sans-serif;
}

#nav-container {
    width: 40%;
    background-image: url("/images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: 40vw 100vh;
}

#logo-container > img{
    width: 10vw;
}

#form-container {
    width: 60%;
    padding: 20vh 12vw 0 2vw;
}

#form-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
}

.form-field {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.7em;
    font-weight: 600;
}

button {
    appearance: none;
    width: 200px;
    height: 40px;
    background-color: var(--leaf-green);
    color: white;
    border-style: none;
    border-radius: 4px;
    box-shadow: 1px 2px 2px var(--light-gray);
    margin: 30px 0 10px 0;
    font: bold 0.9em Arial, sans-serif;
}

p > a {
    color: var(--leaf-green);
    text-decoration: none;
    font-weight: bold;
}
